body {
    background: url(be_a_denist.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 15px;
    margin-top: 50px;
}
.container {
    position: fixed;
    left: 1275px;
    padding: 35px;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 750px;
    height: 900px;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    background: #499495;
}
.container-form {
    background: #edeaea;
    height :800px;
    border-radius:35px;

}
.heading{
    text-align:center;
    padding:25px;
}
.form-field {
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.5s;
    text-align: center;
    color: #499495;
    font-weight: bold;
    cursor:pointer;
    padding:10px;
}
.btn {
    padding: 10px;
    color: #edeaea;
    font-weight: bold;
    background: #499495;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.25);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-top: 35px;
    margin-left:112.5px;
}
.custom-select {

    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.5s;
    text-align:center;
    font-family: Arial;
}

