body {
    background: #61c6c7;
    margin: 15px;
    margin-top: 50px;
}

.login
.login *{
    box-sizing: border-box;
    font-family: sans-serif;

}

.loginform{
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.loginlogocontainer{
    padding: 30px;
    background: rgba(0,0,0,0.25)
}
.loginlogo{
    display: block;
    max-width:250px;
    margin: 0 auto
}

.logincontent{
    padding: 30px;
    background: #edeaea;
}
.loginheader{
    font-family: sans-serif;
    margin-bottom: 15px;
    text-align: center;
    color: #333333
}
.logininput{
    width: 250px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}
.logininput:focus {
        border-color: #61c6c7;
    }
.logininput::placeholder{
    color: #aaaaaa
}

.registerbutton {
    padding: 10px;
    color: #edeaea;
    font-weight: bold;
    background:#499495;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.25);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    margin-top: 15px;
}

.loginlogin:active {
        background: #58afb0;
    }
.registerlinks {
    text-align: left;
}

.registerlink1 {
    font-size: 0.9em;
    color: #316a6b;
    text-decoration: none;
}